body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    min-width: 400px;
    font-size: 16px;
    padding: 0;
    margin: 0;
    background: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

a {
    text-decoration: underline;
    text-decoration: none;
    display: inline-block;
    margin: 12px;
}
span {
    padding: 10px;
}
.navbar {
    flex: 60px;
    display: flex;
    flex-wrap: wrap nowrap;
    justify-content: space-between;
    padding: 5px;
    width: fit-content;    
}
.rightnav {
    display: flex;
}
.icon {
    justify-content: center;
}

.batSignal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;    
}

i {
    position: relative;
    padding: 10px;
    opacity: 0.5;
    left: 3rem;
    top: 0.5rem;
}

.finder {
    display: flex;
    width: auto;
    flex: 250px;
    justify-content: center;
}

.barFinder {
    flex: 45px;
    border-radius: 10px;
    width: 500px;
}
.googler {
    height: 35px;
    width: 550px;
}

.googler {
    border: 1px solid #dfe1e5;
    background: #fff;
    margin: 0 auto;
    padding: 5px 8px 0 14px;
    border-radius: 20px;
    box-shadow: none;
    text-indent: 30px;
    flex: 20px;    
}

.centerbtn {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 10px;    
}

.gSearch  {
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    height: 30px;
    position: relative;
    top: 2rem;
    border-radius: 5px;
    margin: 11px 4px;
    
}
.iFeel {
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    height: 30px;
    position: relative;
    top: 2rem;
    border-radius: 5px;
    margin: 11px 4px;
}

.valley {
    box-sizing: border-box;
    flex-shrink: 0;
    flex: 350px;
}

.navlow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:#f8f9fa;
    height: 40px;
    padding: 20px;
}