body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    min-width: 400px;
    font-size: 14px;
    padding: 0;
    margin: 0;
    background: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

a {
    text-decoration: underline;
    text-decoration: none;
}

.navbar {
    flex: 75px;
    align-items: center;
    background-color: seagreen;
}

.batSignal {
    display: flex;
    justify-content: center;
    background-color: royalblue;
}

i {
    position: fixed;
    padding: 10px;
}

.finder {
    display: flex;
    width: auto;
    flex: 250px;
    background-color: tomato;
    justify-content: center;
    align-items: center;
}

.barFinder {
    flex: 45px;
    border-radius: 10px;
    width: 500px;
}

button {
    border: 1px solid #f8f9fa;
    box-shadow: 0 1px 1px;
    text-align: center;
    height: 30px;
    border-radius: 12px;
}

.googler {
    height: 35px;
    width: 550px;
    border-radius: 15px;
    border: 2px thin;
    box-shadow: 0 1px 1px;
    text-indent: 30px;
    flex: 20px;
}

.valley {
    box-sizing: border-box;
    flex-shrink: 0;
    flex: 350px;
    background: wheat;
}

.navlow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: grey;
    height: 40px;
    padding: 20px;
}